/*
 * Card
 */

.mdl-card {
  margin: rem-calc(20) auto;
  width: 100%;
  min-height: auto;
  transition: all .3s ease;

  &:first-child {
    margin-top: 0;
  }

  &--medium {
    max-width: rem-calc(550);
  }

  &--large {
    max-width: rem-calc(750);
  }

  &.v-enter,
  &.v-leave-active {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
  }

  /*
   * Title
   */

  &__title-text {
    margin: 0;
    padding: 0;
    font-size: rem-calc(22);
    font-weight: 400;
    color: rgba(#000, .77);

    &--queue {
      color: rgba(#000, .66);
    }
  }

  /*
   * Supporting Text
   */

  &--tasks &__supporting-text {
    p {
      display: block;
      margin-bottom: rem-calc(5);
    }
  }

  &__supporting-text {
    padding-top: 0;
  }

  &--tasks &__title + &__supporting-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  /*
   * Code
   */

  &__code {
    margin-top: 0;
  }

  /*
   * Menu
   */

  &__menu {
    top: rem-calc(12);
  }

  /*
   * Expand Anchor
   */

  &__expand {
    text-decoration: none;

    &:focus {
      outline: 0;
    }
  }

  /*
   * Info and More
   */

  &__info,
  &__more {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.15s all ease;
  }

  &__info {
    max-height: 0;
    transition: 0.25s all ease;
  }

  /*
   * Menu
   */

  &__menu {
    top: rem-calc(10);
  }

  /*
   * Expanded
   */

  &--expanded &__expand {
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &--expanded &__info,
  &--expanded &__more {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  &--expanded &__info {
    max-height: rem-calc(1080);
  }
}
