/*
 * List
 */

.list {
  margin: 0;
  padding: 0;

  /*
   * Icon
   */

   &__icon.material-icons {
     margin-right: rem-calc(20);
     width: rem-calc(36);
     height: rem-calc(36);
     font-size: rem-calc(36);
   }
}
