<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Firebase Queue UI</title>

  <link href="favicon.png" rel="icon" type="image/png">

  <!-- build:css /styles/vendor.css -->
  <link rel="stylesheet" href="/styles/vendor.css">
  <!-- endbuild -->

  <!-- build:css /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title">
          <span class="logo h-s-mr-10"></span>

          <span class="logo__text">Firebase Queue UI</span>
        </span>

      </div>

      <div id="tab" class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">

        <nav v-for="tab in tabs" v-if="tabs.length > 0">
          <a href="{{ tab.path }}" class="mdl-layout__tab is-active"><i class="material-icons md-light icon--tab h-s-pr-5">{{ tab.icon }}</i> {{ tab.name }}</a>
        </nav>

        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="show-dialog">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
      </div>
    </header>

    <section id="drawer" class="mdl-layout__drawer">
      <span class="mdl-layout-title mdl-layout__drawer__title">Queues</span>

      <div v-if="queues.length > 0">
        <nav class="mdl-navigation" v-for="(queue, key) in queues" v-if="key !== '.key'">
          <a class="mdl-navigation__link" :href="queue.path">{{ queue.name }}</a>
        </nav>
      </div>

      <div v-else>
        <nav class="mdl-navigation">
          <span class="mdl-navigation__link">No queue on UI specs node.</span>
        </nav>
      </div>

      <span class="mdl-layout-title mdl-layout__drawer__title h-s-pt-15">Account</span>

      <nav class="mdl-navigation">
        <a href="#" class="mdl-navigation__link" v-on:click.stop.prevent="logout()">Logout</a>
      </nav>
    </section>

    <main class="mdl-layout__content">

      <section class="section section--center">

        <div id="cards">

          <div id="card-progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" v-show="queue == null"></div>

          <template id="card-error" v-if="queue == false">
            <div class="mdl-card mdl-shadow--2dp mdl-card--large">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">No Results</h2>
              </div>

              <div class="mdl-card__supporting-text">
                Could not locate any tasks. Maybe:
                <ul>
                  <li>There aren't any new tasks on your Firebase queue</li>
                  <li>Your path <code><b>{{ path }}</b></code> could be invalid</li>
                </ul>
              </div>
            </div>
          </template>

          <template id="card" v-if="queue == true">
            <transition-group name="mdl-card" tag="ul">
              <li class="mdl-card mdl-card--tasks mdl-shadow--2dp mdl-card--large js-mdl-card-expand" v-for="(item, key, index) in filterItems()" v-if="key !== '.key'" :key="key">
                <a class="mdl-card__expand" v-on:click.stop.prevent="toggleItem(index)">
                  <div class="mdl-card__title">
                    <h5 class="mdl-card__title-text mdl-color-text--grey-700">
                      <i class="material-icons md-light icon--tab h-s-pr-10">{{ item._state | icon }}</i>
                      {{ key }}
                    </h5>
                  </div>
                </a>

                <div class="mdl-card__info">
                  <div class="mdl-card__title">
                    <h5 class="mdl-card__title-text mdl-card__title-text--queue h-s-mb-10">Data</h5>
                  </div>

                  <div class="mdl-card__supporting-text">
                    <pre class="mdl-card__code">{{ item.data }}</pre>
                  </div>

                  <div class="mdl-card__supporting-text">
                    <p><b>Action:</b> {{ item.action }}</p>
                    <p><b>State:</b> {{ item._state }}</p>
                    <p><b>Resource:</b> {{ item.resource }}</p>
                  </div>

                  <div class="mdl-card__error" v-if="item._state == 'error'">
                    <div class="mdl-card__title">
                      <h5 class="mdl-card__title-text mdl-card__title-text--queue h-s-mb-10">Error Details</h5>
                    </div>

                    <div class="mdl-card__supporting-text">
                      <pre class="mdl-card__code">{{ item._error_details }}</pre>
                    </div>
                  </div>

                  <div class="mdl-card__title">
                    <h5 class="mdl-card__title-text mdl-card__title-text--queue h-s-mb-10">Headers</h5>
                  </div>

                  <div class="mdl-card__supporting-text">
                    <pre class="mdl-card__code">{{ item.headers }}</pre>
                  </div>

                  <div class="mdl-card__supporting-text">
                    <b>Last Updated:</b> {{ item._state_changed | moment }}
                  </div>

                  <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click.stop.prevent="retryItem(key)">
                      Retry
                    </a>

                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click.stop.prevent="removeItem(key, index)">
                      Remove
                    </a>
                  </div>
                </div>
              </li>
            </transition-group>
          </template>

        </div>

      </section>

    </main>

  </div>

  <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Add New Task</h4>

    <div class="mdl-dialog__content">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows="7"></textarea>
          <label class="mdl-textfield__label" for="sample5">Task Data</label>
        </div>
      </form>
    </div>

    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button">Submit</button>
      <button type="button" class="mdl-button close">Close</button>
    </div>
  </dialog>

  <!-- build:js /scripts/queue-page.js -->
  <script src="/scripts/queue-page.js"></script>
  <!-- endbuild -->
</body>
</html>
